/* Navigation Bar */
.navbar-main {
    background-color: #b6ccfe;
}

.navbar-main a {
    color: #463f3a;
}

/* Register Page */
.register-content {
    background-color: #b6ccfe;
    margin-top: 7%;
    background-color: #b6ccfe;
}

.card .card-action { 
    padding-bottom: 50px;
    text-align: center;
    border-top: none;
}

/* Upload Page */
.upload-content {
    background-color: #b6ccfe;
    margin-top: 7%;
    padding-top: 5%;
}

/* Upload New Artist */
.upload-heading {
    padding-bottom: 5%;
    text-align: center;
}

.label-heading {
    text-align:center;
}

.input-field label {
    color: #2bbbad;
}

input {
    color: #463f3a;
}

/* General Adjustments */
.row {
    margin-bottom: 0px;
}

.flashes {
    line-height: 3;
}

/* Footer */
.page-footer {
    margin-top: 5%;
    background-color: #b6ccfe;
}

.page-footer .container {
    color: #463f3a;
}