/* Navigation Bar */
.navbar-main {
    background-color: #b6ccfe;
}

nav .nav-wrapper {
    height: 115%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar-main a {
    color: #463f3a;
}

.bom-logo img {
    height: 63px;
    margin-left: 30%;
    margin-top: 2%;
}

.bom-logo-tablet img {
    height: 55px;
    margin-left: 5%;
    margin-top: 3%;
}

.bom-logo-phone img {
    height: 55px;
    margin-left: 15%;
    margin-top: 3%;
}

/* Index page*/
.parallax-container {
    height: 600px;
    object-fit: cover;
}

.mainpage-register {
    position: absolute;
    bottom: 20%;
    right: 10%;
    opacity: 0.7;
}

.tablet-image {
    max-width: 130%;
    background-size: cover;
    overflow-x: hidden;
}


/* Register Page */
.register-content {
    background-color: #b6ccfe;
    margin-top: 7%;
    background-color: #b6ccfe;
}

.card .card-action {
    padding-bottom: 50px;
    text-align: center;
    border-top: none;
}

/* Upload Page */
.upload-content {
    background-color: #b6ccfe;
    margin-top: 7%;
    padding-top: 5%;
}

/* Upload New Artist */
.upload-heading {
    padding-bottom: 5%;
    text-align: center;
}

.label-heading {
    text-align: center;
}

.input-field label {
    color: #463f3a;
}

input[type="range"]+.thumb {
    background-color: #463f3a;
}

input[type="range"] {
    border: 1px solid #463f3a;
}

/* Rankings Page */
.rankings-content {
    background-color: #b6ccfe;
}

.info-button {
    margin-bottom: 5%;
}

/* General Adjustments */
.row {
    margin-bottom: 0px;
}

.flashes {
    line-height: 3;
}

/* Footer */
.page-footer {
    margin-top: 5%;
    background-color: #b6ccfe;
}

.page-footer .container {
    color: #463f3a;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
    nav .brand-logo {
        left: 15%;
    }
}