{% extends "base.html" %}
{% block content %}
<div class="parallax-container hide-on-med-and-down">
    <div class="parallax"><img class="responsive-img" src={{url_for('static', filename='images/bestofmusic.png')}}>
    </div>

    <div class="row mainpage-register">
        <div class="card register-content">
            <div class="card-content">
                <span class="card-title center"> Sign up today and start rating!<br>
                    {% if session.user %}
                    <a href="{{ url_for('rankings') }}"> Click here</a> to get started
                    {% else %}
                    <a href="{{ url_for('register') }}"> Click here</a> to get started
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

</div>
<!-- For tablet /mobile sizes-->
<div class="show-on-medium-and-down hide-on-large-only">
    <div class="tablet-image"><img class="responsive-img" src={{url_for('static', filename='images/bestofmusic.png')}}>
    </div>
    <div class="row mainpage-register-tablet hide-on-small-only hide-on-large-only">
        <div class="card register-content">
            <div class="card-content">
                <span class="card-title center "> Sign up today and start rating!<br>
                    {% if session.user %}
                    <a href="{{ url_for('rankings') }}"> Click here</a> to get started
                    {% else %}
                    <a href="{{ url_for('register') }}"> Click here</a> to get started
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="row mainpage-register-mobile hide-on-med-and-up">
        <div class="card register-content">
            <div class="card-content">
                <p class="center "> Sign up today and start rating!<br>
                    {% if session.user %}
                    <a href="{{ url_for('rankings') }}"> Click here</a> to get started
                    {% else %}
                    <a href="{{ url_for('register') }}"> Click here</a> to get started
                    {% endif %}
                </p>
            </div>
        </div>
    </div>



</div>

<!-- Top Rated Albums -->
<div class="section white">
    <div class="row container">
        <h2 class="header center">Top Rated Albums</h2>
        {% for album, info in artists[0].items() %}

        <div class="col s4 hide-on-small-only">
            <div class="card-content home-content">
                <h4 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h4>
                <h5 class="center">{{ info["artist_name"] }}</h5>
                <p class="center">{{ info["rating"] }}</p>
                <img class="materialboxed album-image" width="150" height="150" src="{{ info['image_url'] }}">
            </div>
        </div>
        {% endfor %}
        {% for album, info in artists[1].items() %}
        <div class="col s4 hide-on-small-only">
            <div class="card-content home-content">
                <h4 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h4>
                <h5 class="center">{{ info["artist_name"] }}</h5>
                <p class="center">{{ info["rating"] }}</p>
                <img class="materialboxed album-image" width="150" height="150" src="{{ info['image_url'] }}">
            </div>
        </div>
        {% endfor %}
        {% for album, info in artists[2].items() %}

        <div class="col s4 hide-on-small-only">
            <div class="card-content home-content">
                <h4 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h4>
                <h5 class="center">{{ info["artist_name"] }}</h5>
                <p class="center">{{ info["rating"] }}</p>
                <img class="materialboxed album-image" width="150" height="150" src="{{ info['image_url'] }}">
            </div>
        </div>
        {% endfor %}

        <!--Mobile View-->
        {% for album, info in artists[0].items() %}

        <div class="col s6 show-on-small hide-on-med-and-up">
            <div class="card-content home-content ">
                <h5 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h5>
                <p>{{ info["artist_name"] }}</p>
                <p>{{ info["rating"] }}</p>
                <img class="materialboxed album-image" width="100" height="100" src="{{ info['image_url'] }}">
            </div>
        </div>

        {% endfor %}
        {% for album, info in artists[1].items() %}


        <div class="col s6 show-on-small hide-on-med-and-up">
            <div class="card-content home-content ">
                <h5 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h5>
                <p>{{ info["artist_name"] }}</p>
                <p>{{ info["rating"] }}</p>
                <img class="materialboxed album-image" width="100" height="100" src="{{ info['image_url'] }}">
            </div>
        </div>

        {% endfor %}

        <div class="row">
            <div>
                <h5 class="right-align"><a href="{{ url_for('rankings') }}"><br>View All</a></h5>
            </div>
        </div>
    </div>

    <div class="divider"></div>


    <!-- Recently Uploaded Albums -->
    <div class="section white">
        <div class="row container">
            <h2 class="header center">Recently Upload Albums</h2>
            {% for album, info in artists[-1].items() %}
            <div class="col s4 hide-on-small-only">
                <div class="card-content home-content">
                    <h4 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h4>
                    <h5>{{ info["artist_name"] }}</h5>
                    <p>{{ info["rating"] }}</p>
                    <img class="materialboxed album-image" width="150" height="150" src="{{ info['image_url'] }}">
                </div>
            </div>
            {% endfor %}
            {% for album, info in artists[-2].items() %}

            <div class="col s4 hide-on-small-only">
                <div class="card-content home-content">
                    <h4 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h4>
                    <h5>{{ info["artist_name"] }}</h5>
                    <p>{{ info["rating"] }}</p>
                    <img class="materialboxed album-image" width="150" height="150" src="{{ info['image_url'] }}">
                </div>
            </div>
            {% endfor %}
            {% for album, info in artists[-3].items() %}
            <div class="col s4 hide-on-small-only">
                <div class="card-content home-content">
                    <h4 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h4>
                    <h5>{{ info["artist_name"] }}</h5>
                    <p>{{ info["rating"] }}</p>
                    <img class="materialboxed album-image" width="150" height="150" src="{{ info['image_url'] }}">
                </div>
            </div>
            {% endfor %}

            <!--Mobile View-->
            {% for album, info in artists[-1].items() %}
            <div class="col s6 show-on-small hide-on-med-and-up">
                <div class="card-content home-content ">
                    <h5 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h5>
                    <p>{{ info["artist_name"] }}</p>
                    <p>{{ info["rating"] }}</p>
                    <img class="materialboxed album-image" width="100" height="100" src="{{ info['image_url'] }}">
                </div>
            </div>
            {% endfor %}
            {% for album, info in artists[-2].items() %}

            <div class="col s6 show-on-small hide-on-med-and-up">
                <div class="card-content home-content ">
                    <h5 class="card-title">{{ album|truncate(12, True, '...', 0) }}</h5>
                    <p>{{ info["artist_name"] }}</p>
                    <p>{{ info["rating"] }}</p>
                    <img class="materialboxed album-image" width="100" height="100" src="{{ info['image_url'] }}">
                </div>
            </div>
            {% endfor %}


            <div class="row ">
                <div>
                    <h5 class="right-align"><a href="{{ url_for('rankings') }}"><br>View All</a></h5>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}