{% extends "base.html" %}
{% block content %}

<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>

<div class="row">


    <div class="col s8 offset-m2 hide-on-small-only">
        <div class="card register-content">
            <div class="card-content">
                <h2 class="card-title">{{ username }}'s Profile</h2>
                <form>
                    <!-- User's uploaded posts -->
                    <h3>Edit your posts</h3>
                    <div class="row hide-on-small-only">
                        {% for d in data %}
                        <div class="profile-content col s4 center">
                            {% for album, info in d.items() %}

                            <h4>{{ album }}</h4>
                            <div class="divider"></div>
                            <p>{{ info["artist_name"] }}</p>

                            <p>{{ info["rating"] }}</p>
                            <img class="materialboxed album-image" width="150" height="150"
                                src="{{ info['image_url'] }}">
                            <div class="divider"></div>
                            <a href="{{ url_for('edit_rating', rating_id=info['rating_id']) }}"
                                class="edit-button waves-effect waves-light btn-small">Edit</a>


                            {% endfor %}
                        </div>
                        {% if loop.index is divisibleby 3 %}
                    </div>
                    <div class="row hide-on-small-only">
                        {% endif %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Mobile view-->


    <div class="col s12 show-on-small hide-on-med-and-up">
        <div class="card register-content">
            <div class="card-content ">
                <h2 class="card-title">{{ username }}'s Profile</h2>
                <form>
                    <h3>Edit your posts</h3>
                <div class="row col s12 hide-on-med-and-up">
                    {% for d in data %}
                    <div class="profile-content col s6 center">
                        {% for album, info in d.items() %}

                        <h4>{{ album|truncate(10, True, '...', 0) }}</h4>
                        <div class="divider"></div>
                        <p>{{ info["artist_name"] }}</p>

                        <p>{{ info["rating"] }}</p>
                        <img class="materialboxed album-image" width="100" height="100" src="{{ info['image_url'] }}">
                        <div class="divider"></div>
                        <a href="{{ url_for('edit_rating', rating_id=info['rating_id']) }}"
                            class="edit-button waves-effect waves-light btn-small">Edit</a>


                        {% endfor %}
                    </div>
                    {% if loop.index is divisibleby 2 %}
                </div>
                <div class="row show-on-small hide-on-med-and-up">
                    {% endif %}
                    {% endfor %}
                </div>
            </form>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}