{% extends "base.html" %}
{% block content %}

<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>



<h1 class="center">Top rated Albums</h1>
<div class="container">
    <div class="row">
        {% for d in data %}
        {% for album, info in d.items() %}
        <!-- Top Rated Albums -->
        <div class="col s4">
            <div class="card rankings-content">
                <div class="card-content">

                    <span class="card-title">{{ album }}</span>
                    <p>{{ info["artist_name"] }}</p>
                    <p>{{ info["rating"] }}</p>
                    <img class="materialboxed album-image" width="150" height="150" src="{{ info['image_url'] }}">
                </div>
                <div class="divider"></div>
                <!-- Modal Button Tablet/Desktop -->
                <div class="center-align hide-on-small-only">
                    <a class="waves-effect waves-light btn modal-trigger info-button"
                        href="#{{ info['album_id'] }}">Info</a>
                </div>
                <!-- Modal Button Mobile -->
                <div class="center-align hide-on-med-and-up">
                    <a class="waves-effect waves-light btn modal-trigger info-button"
                        href="#{{ info['album_id'] }}">Info</a>
                </div>

                <!-- Album Modal Info -->
                <div id="{{ info['album_id'] }}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        {% for album, info in d.items() %}
                        <h4>{{ album }}</h4>
                        <p>{{ info["artist_name"] }}</p>
                        <p>{{ info["rating"] }}</p>

                        <img class="materialboxed" width="150" height="150" src="{{ info['image_url'] }}">
                        {% endfor %}

                    </div>
                    <div class="offset-m3 reviews">
                        {% for review in info["reviews"] %}
                        <p>{{ review["review"] }}</p>
                        <p>{{ review["rating"] }}&emsp;&emsp;&emsp;&emsp; Rated By : {{ review["user"] }}</p>

                        {% endfor%}
                    </div>

                    <form class="col s9 offset-m2">
                        <div class="row">
                            <!-- Rating -->
                            <div class="input-field col s6 offset-s3">
                                <p class="range-field">
                                    <label for="range" class="label-heading">Rate</label>
                                    <input type="range" name="rating" id="rating" min="0" max="100" required />
                                </p>
                                <!-- Review -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="review" class="materialize-textarea"></textarea>
                                        <label for="review">Enter Your Review</label>
                                    </div>

                                </div>
                                <div class="row submit-button">
                                    <div class="card-action col s12">
                                        <button class="btn-large waves-effect waves-light" type="submit"
                                            action="submit">
                                            Rate
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
                <!-- Mobile Modal-->
                <div id="{{ info['album_id'] }}" class="modal modal-mobile modal-fixed-footer">
                    <div class="modal-content">
                        {% for album, info in d.items() %}
                        <h4>{{ album }}</h4>
                        <p>{{ info["artist_name"] }}</p>
                        <p>{{ info["rating"] }}</p>

                        <img class="materialboxed" width="150" height="150" src="{{ info['image_url'] }}">
                        {% endfor %}

                    </div>
                    <div class="offset-m3 reviews">
                        {% for review in info["reviews"] %}
                        <p>{{ review["review"] }}</p>
                        <p>{{ review["rating"] }}&emsp;&emsp;&emsp;&emsp; Rated By : {{ review["user"] }}</p>

                        {% endfor%}
                    </div>

                    <form class="col s9 offset-m2">
                        <div class="row">
                            <!-- Rating -->
                            <div class="input-field col s6 offset-s3">
                                <p class="range-field">
                                    <label for="range" class="label-heading">Rate</label>
                                    <input type="range" name="rating" id="rating" min="0" max="100" required />
                                </p>
                                <!-- Review -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="review" class="materialize-textarea"></textarea>
                                        <label for="review">Enter Your Review</label>
                                    </div>

                                </div>
                                <div class="row submit-button">
                                    <div class="card-action col s12">
                                        <button class="btn-large waves-effect waves-light" type="submit"
                                            action="submit">
                                            Rate
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
        {% if loop.index is divisibleby 3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>



{% if is_paginated %}
<ul class="pagination center">
    {% if active_page == 1 %}
    <li class="disabled"><a href="#!"><i class="fas fa-chevron-left"></i></a></li>
    {% else %}
    <li><a href="?page={{ active_page - 1 }}"><i class="fas fa-chevron-left"></i></a></li>
    {% endif %}
    {% for n in range(num_pages) %}
    {% if active_page == n + 1 %}
    <li class="active"><a href="?page={{ n + 1 }}">{{ n + 1 }}</a></li>
    {% else %}
    <li class="waves-effect"><a href="?page={{ n + 1 }}">{{ n + 1 }}</a></li>
    {% endif %}
    {% endfor %}
    {% if active_page == num_pages %}
    <li class="disabled"><a href="#!"><i class="fas fa-chevron-right"></i></a></li>
    {% else %}
    <li><a href="?page={{ active_page + 1 }}"><i class="fas fa-chevron-right"></i></a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}