{% extends "base.html" %}
{% block content %}

<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>



<h1 class="center">Top Rated Albums</h1>
<div class="container">
    <div class="row show-on-medium-and-up hide-on-small-only">
        {% for d in data %}
        {% for album, info in d.items() %}
        <!-- Top Rated Albums -->
        <div class="col s4">
            <div class="card rankings-content">
                <div class="card-content">

                    <span class="card-title">{{ info["album_name"] }}</span>
                    <p>{{ info["artist_name"] }}</p>
                    <p>{{ info["rating"] }}</p>
                    <img class="materialboxed album-image" width="150" height="150" src="{{ info['image_url'] }}">
                </div>
                <div class="divider"></div>
                <!-- Modal Button Tablet/Desktop -->
                <div class="center-align hide-on-small-only">
                    <a class="waves-effect waves-light btn modal-trigger info-button"
                        href="#{{ info['album_id'] }}">Info</a>
                </div>

                <!-- Album Modal Info -->
                <div id="{{ info['album_id'] }}" class="modal modal-fixed-footer modal-desktop">
                    <div class="modal-content hide-on-small-only">
                        <div class="row">
                            <div class="col s6">
                                {% for album, info in d.items() %}
                                <h4>{{ info["album_name"] }}</h4>
                                <p>{{ info["artist_name"] }}</p>
                                <p>{{ info["rating"] }}</p>

                                <img class="materialboxed" width="150" height="150" src="{{ info['image_url'] }}">
                                {% endfor %}
                            </div>

                            <div class="col s6 reviews">
                                {% for review in info["reviews"] %}
                                <p>{{ review["review"] }}</p>
                                <p>{{ review["rating"] }}&emsp;&emsp;&emsp;&emsp; Rated By : {{ review["user"] }}</p>

                                {% endfor%}
                            </div>
                        </div>
                        <div class="row">
                            {% if session.user %}
                            {% if not info["already_edited"] %}
                            <form class="col s9 offset-m2" action="/rankings" method="POST">
                                <input type="hidden" name="album_id" value="{{ info['album_id'] }}" />
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="input-field col s9 offset-s1">
                                        <p class="range-field">
                                            <label for="range" class="label-heading">Rate</label>
                                            <input type="range" name="rating" id="rating" min="0" max="100" required />
                                        </p>
                                        <!-- Review -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="review" name="review"
                                                    class="materialize-textarea"></textarea>
                                                <label for="review">Enter Your Review</label>
                                            </div>

                                        </div>
                                        <div class="row submit-button">
                                            <div class="card-action col s12">

                                                {% if session.user %}
                                                <button class="btn-large waves-effect waves-light" type="submit"
                                                    action="submit">
                                                    Rate
                                                </button>
                                                {% else %}
                                                <a href="{{ url_for('register') }}"
                                                    class="waves-effect waves-light btn">Rate</a>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            {% else %}
                            <p>You've already rated this, go back to edit.</p>
                            {% endif %}

                        {% else %}
                            Sign Up to start rating today! 
                        {% endif %}
                        </div>

                        <div class="modal-footer mobile-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        {% if loop.index is divisibleby 3 %}
    </div>
    <div class="row show-on-medium-and-up hide-on-small-only">
        {% endif %}
        {% endfor %}
    </div>

    <!-- Added for mobile  -->

    <div class="row hide-on-med-and-up show-on-small">
        {% for d in data %}
        {% for album, info in d.items() %}
        <!-- Top Rated Albums -->
        <div class="col s6">
            <div class="card rankings-content">
                <div class="card-content">

                    <span class="card-title">{{ info["album_name"] }}</span>
                    <p>{{ info["artist_name"] }}</p>
                    <p>{{ info["rating"] }}</p>
                    <img class="materialboxed album-image" width="100" height="100" src="{{ info['image_url'] }}">
                </div>
                <div class="divider"></div>
                <!-- Modal Button Mobile -->
                <div class="center-align hide-on-med-and-up">
                    <a class="waves-effect waves-light btn modal-trigger info-button"
                        href="#mob{{ info['album_id'] }}">Info</a>
                </div>

                <!-- Mobile Modal-->

                <div id="mob{{ info['album_id'] }}" class="modal modal-rankings modal-fixed-footer">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s6">
                                {% for album, info in d.items() %}
                                <h5>{{ info["album_name"] }}</h5>
                                <p>{{ info["artist_name"] }}</p>
                                <p>{{ info["rating"] }}</p>
                                <img class="materialboxed" width="100" height="100" src="{{ info['image_url'] }}">
                                {% endfor %}
                            </div>
                            <div class="col s6">
                                <div class="reviews-mobile">
                                    {% for review in info["reviews"] %}
                                    <p>{{ review["review"] }}</p>
                                    <p>{{ review["rating"] }}&emsp;&emsp;&emsp;&emsp; <br>Rated By :
                                        {{ review["user"] }}</p>
                                    <div class="divider"></div>
                                    {% endfor%}
                                </div>
                            </div>
                        </div>
                        {% if not info["already_edited"] %}
                        <form action="/rankings" method="POST">
                            <input type="hidden" name="album_id" value="{{ info['album_id'] }}" />
                            <div class="row">
                                <div class="col s10 offset-m2">
                                    <!-- Rating -->
                                    <div class="input-field ">
                                        <p class="range-field">
                                            <label for="range" class="label-heading">Rate</label>
                                            <input type="range" name="rating" id="rating" min="0" max="100" required />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Review -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="review" name="review" class="materialize-textarea"></textarea>
                                    <label for="review">Enter Your Review</label>
                                </div>
                            </div>
                            <!-- Submit Button -->
                            <div class="row submit-button">
                                <div class="card-action col s11">
                                    <button class="btn-large waves-effect waves-light" type="submit" action="submit">
                                        Rate
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                        <div class="row">
                            <div class="mobile-footer modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% else %}
        <p>You've already rated this, go back to edit.</p>
        {% endfor %}
        {% if loop.index is divisibleby 2 %}
    </div>
    <div class="row hide-on-med-and-up show-on-small">
        {% endif %}
        {% endfor %}
    </div>

</div>



{% if is_paginated %}
<ul class="pagination center">
    {% if active_page == 1 %}
    <li class="disabled"><a href="#!"><i class="fas fa-chevron-left"></i></a></li>
    {% else %}
    <li><a href="?page={{ active_page - 1 }}"><i class="fas fa-chevron-left"></i></a></li>
    {% endif %}
    {% for n in range(num_pages) %}
    {% if active_page == n + 1 %}
    <li class="active"><a href="?page={{ n + 1 }}">{{ n + 1 }}</a></li>
    {% else %}
    <li class="waves-effect"><a href="?page={{ n + 1 }}">{{ n + 1 }}</a></li>
    {% endif %}
    {% endfor %}
    {% if active_page == num_pages %}
    <li class="disabled"><a href="#!"><i class="fas fa-chevron-right"></i></a></li>
    {% else %}
    <li><a href="?page={{ active_page + 1 }}"><i class="fas fa-chevron-right"></i></a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}